.cardd3 {
  background-color: #fff;

  margin-bottom: 30px;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.forms--btn {
  background: blue;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 9rem;
}
h1 {
  margin-bottom: 6rem;
}
label {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.form-control {
  padding: 1rem;
  height: fit-content;
  border-radius: 10px;
}

.forms--img {
  margin-top: 20px;
  width: 100%;
  height: 40%;
}
@media only screen and (min-width: 720px) {
  .cardd3 {
    margin-top: 30px;
    margin-left: 30rem;
    height: fit-content;
    width: 60rem;
    padding: 0rem;
  }
  .form--card--body {
    padding: 10rem;
    padding-top: 6rem;
    height: 100%;
    margin-bottom: 10px;
  }
  .forms--btn {
    margin-top: 3rem;
    width: 100%;
    margin-left: 0rem;

    margin-bottom: 5px;
  }
  .form-control {
    font-size: large;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
  }
  label {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  .forms--img {
    margin-top: 20px;

    margin-right: 4rem;
    width: 40rem;
    height: 30rem;
  }
}
