.cardd2 {
  margin-top: 50px;
  margin-bottom: 20px;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 0rem;
  font-weight: bolder;
}

.signup--btn {
  background: blue;
  border-radius: 12px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 28%;
  display: inherit;
  position: relative;
}
.fade {
  opacity: 1;
  color: red;
}
label {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.form-control {
  padding: 10px;
  border-radius: 10px;
}
.signup--card--body {
  padding: 20px 10px 10px 10px;
}
@media only screen and (min-width: 780px) {
  .cardd2 {
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    margin-bottom: 3rem;
  }
  h2 {
    margin-top: 3rem;
  }
  .signup--card--body {
    padding: 7rem;
    padding-top: 4rem;
    height: 100%;
  }
  .signup--btn {
    margin-left: inherit;
    margin-top: 2rem;
    height: 4rem;
    width: 100%;
    margin-bottom: 10px;
  }
  .form-control {
    font-size: large;
    padding: 20px;
    border-radius: 10px;
  }
  label {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
  }
  .link--url {
    font-size: large;
  }
}
